.first{  
    background-image: url(../img/prairie-679016_1920.jpg);
    background-size: cover;
    height: 759px;
}

.header{
    background-color: rgba(248,248,255,0.8);   
    height: 759px;
    border-radius: 5px;
}

.logo{
    margin-top: 30px;
    display: inline-block;
}

cite{
    font-size: 18px;
    margin-top: 90px;
    margin-left: 30px;
    display: inline-block;
    text-align: center;
    float: right;
    font-family: 'Emblema One', cursive;
}

li{
    display: inline;
    padding: 20px;
}

nav{
    margin-top: 40px;
    display: inline-block;
}

.galerie{
    height: 500px;
    background-color: silver;
    margin-top: 50px;
    border-radius: 5px;
}

.title1{
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 30px;
}

@media(max-width: 320px) { 
    .logo{
        margin-left: 30px;
    }

    cite{
        font-size: 15px;
        margin-top: 0px;
        margin-left: 23px;
    }

    nav{
        margin-top: 20px;
        margin-right: 10px;
        width: 245px;
    }

    li{
        padding-right: 0px;
    }

    .galerie{
        height: 350px;
        margin-top: 0px;
        border-radius: 5px;
    }

    .title1{
        text-align: center;
        font-family: 'Titillium Web', sans-serif;
        font-size: 25px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px){
    .galerie{
        height: 450px;
        margin-top: 30px;
    }
}

